#? stdtmpl | standard
#
#template `%`(idx: untyped): untyped =
#  row[idx]
#end template
#
#
#
#proc genBackupSettings*(c: var TData, db: DbConn, msg = ""): string =
# result = ""

<link rel="stylesheet" href="/css/backup_private.css">
<script src="/js/backup_private.js" defer></script>

<div id="backup">
  # if msg != "":
  <div style="color: red; text-align: center;">
    $msg
  </div>
  # end if

  <div id="backupFront">
    <h1>Backup settings</h1>

    # let (n, v, d, u) = pluginExtractDetails("backup")
    <div id="pluginDetails">
      <hr>
      <div> <b>Package:</b> ${n}</div>
      <div> <b>Version:</b> ${v}</div>
      <div> <b>Description:</b><br>${d}</div>
      <div> <b>URL:</b> <a href="${u}">${u}</a></div>
      <hr>
    </div>

  </div>

  <hr>

  <div class="backup buttons">
    <a href="#!" class="btn btn-primary backupTime">Change backup time</a>
    <a href="/backup/backupnow" class="btn btn-primary backupNow">Make a backup now</a>
  </div>

  # let backuptime = getValue(db, sql"SELECT value FROM backup_settings WHERE element = ?", "backuptime")
  # let keepbackup = getValue(db, sql"SELECT value FROM backup_settings WHERE element = ?", "keepbackup")
  <form method="get" action="/backup/backupsettings" class="backup">

    <div>
      <label>Backup time (0 or empty = disabled)</label>
      <div>
        <input name="backuptime" class="backuptime" value="$backuptime" required type="number" pattern="[0-9]" /> hours
      </div>
    </div>

    <hr>

    <div>
      <label>Keep backups for x days (0 or empty = keep forever)</label>
      <div>
        <input name="keepbackup" class="keepbackup" value="$keepbackup" required type="number" pattern="[0-9]" /> days
      </div>
    </div>

    <button type="submit" class="btn btn-success">Save new time</button>
  </form>

  <ul class="backup">

#   for backup in walkDir("data/"):
#     let (pd, ppath) = backup
#     discard pd
#     let backupName = replace(ppath, "data/", "")
#
#     if backupName == "website.db":
#       continue
#     end if
#
      <li class="backup">
        <a href="/backup/download?backupname=$backupName" class="download" download="$backupName">Download</a>
        <a href="#!" class="btn btn-danger load" data-url="/backup/loadbackup?backupname=$backupName">Load</a>
        <a href="#!" class="btn btn-danger delete" data-url="/backup/delete?backupname=$backupName">Delete</a>
        <span class="name">$backupName</span>
      </li>

#   end for
  </ul>
</div>

#end proc